<template>
  <div id="app">
  <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="./image/iconplaystore.png" width="30" height="30" class="d-inline-block align-top" alt=""> Google
            Play
        </a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!-- <ul id="Search" class="nav justify-content-center">
            <li v-for="item in Apps" class="nav-item">
                <a class="nav-link active" href="#">{{item.App}}}</a>
            </li>
        </ul> -->
    </nav>
    <router-view/>
  </div>
</template>
// <script>
// export default {
//    mounted() {
//       var xhr=new XMLHttpRequest();
//         xhr.open("GET","http://localhost:8080/api/All",false)
//         xhr.setRequestHeader("Authorization","Basic "+btoa("myuser"+":"+"password"))
//         xhr.send()
// if(xhr.readyState===4&&xhr.status==200){
//     var output=xhr.responseText;
//     this.Apps=output;
// }
//   }
// }
// </script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
